body {
    font-family: 'Overlock', cursive;
    font-size: 120%;
    
}

body h3 {
    font-size: 200%;
    padding-top: 6%;
    padding-bottom: 3%;
}

body h2 {
    padding-top: 3%;
}

.navbar {
    border-bottom: #c0392b 3px solid;
    opacity: .7;
}

.navbar-brand-logo {
    box-sizing: border-box;
    width: 5%;
    float: left;
}

#Home {
    padding-top: 10%;
    background: url(../img/fondoPaisaje.jpg) no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    opacity: .7;
}

#Home img {
    max-width: 120%;
}

.Info-section {
    background: url(../img/fondo3.jpeg) no-repeat center top;
    background-size: cover;
    color: #ffff;
}

.Diag-section {
    background: url(../img/diagnostico.jpg) no-repeat center top;
    background-size: cover;
    min-height: 100vh;
    color: #000000;
}

.Medicion-section img {
    max-width: 100%;
}

.Control-section img {
    max-width: 100%;
}

.Medicamentos-section {
    background: url(../img/medicamentos.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    color: #000000;

}

.Medicamentos-section i.app {
    font-size: 200%;
    margin: 1%;
    padding: 5px;
}

.Hacer-section img {
    max-width: 100%;
}

.Sintomas-section {
    background: url(../img/sintomas.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    color: #000000;
}

.Sintomas-section p, h4 {
    padding-top: 5%;
}

.social-section {
    background-color: #fddbc7;
}

.social-section {
    text-align: center;
}
.social-section li {
    display: inline;
}

.social-section i {
    font-size: 500%;
    color: #fff;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

.home-inner {
    padding: 150px;
}

@media (max-width: 992px) {
    .home-inner {
        padding-top: 70px;
    }
}

h1, h2, h3, h4 {
    font-family: 'Staatliches', cursive;
}

h3 {
    text-align: center;
}
